@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #252525;
}
.page {
    display: flex;
    flex-direction: column;
}
nav {
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #252525;
    
}
nav a{
    color: white;
    font-family:'Zen Dots', cursive ;
    font-size: 15px;
}
nav img {
    height: 40px;
    margin: 20px;
}
nav ul {
    list-style: none;
}
.rg {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav li {
    display :inline;
    text-decoration: none; 
    padding: 10px;
}
nav p{
    font-family: 'Zen Dots', cursive;
    color: #FFFFFF    ;
    font-size: 20px;
    margin: 20px;
}
#dropdown{
    width: 100%;
    height: 40px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#dropdown a{
    text-decoration: none;
    color: white;
    font-family:'Zen Dots', cursive ;
    font-size: 15px;
}
#dropdown li{
    display: inline;
    padding: 10px;
}
#adv {
    width: 100%;
    height: 30px;
    background-color: #5643CC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
}
#adv p {
    padding: 10px;
    font-size: 15px;
}
#hed {
    display: flex;
    width: 100%;
    height: 500px;
    background-color:#252525 ;
}
#hed #right {
    width: 50%;
    background-color: #252525;
}
#hed #left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#252525;
    padding: 15px;
    width: 50%;
    font-size: 30px;
}
.a {
    padding-top: 10px;
}
 .button{
    display: inline;
    background-image: linear-gradient(92deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Zen Dots', cursive ;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    padding: 0 16px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    padding: 10px;
}
.a button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}
#right {
    display: flex;
    align-items: center;
    justify-content: center;
}
#right img{
    width: 450px;
    height: 450px;
}
#currency {
    background-color: #5643CC;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 50px;
}
p {
    color: #FFFFFF;
    font-family: 'Zen Dots', cursive ;   
}
#currency p {
    font-size: 30px;
    padding: 30px 15px 15px 15px;
}
table {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Zen Dots', cursive ;  
    color: white;
}
table td {
    padding: 25px;
}
table th {
    padding: 25px;
}
table img {
    width: 48px;
    height: 48px;
}
#trade {
    width: 100%;
    height: 500px;
    background-color:#252525 ;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
#trade p {
    margin-left: 15px;
    font-size: 25px;
}
#trade img {
   margin: auto;
    width: 400px;
    height: 400px;
}
#nft {
    width: 100%;
    height: 550px;
    background-color: #673FD7;
    border-radius: 20px;
    margin-bottom: 80px;
    
}
#nft #bs{
    color: #FFFFFF;
    font-size: 30px;
    padding: 30px 15px 15px 15px;
    font-family: 'Zen Dots', cursive ;  
}
#nft1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icn {
    display: none;
}
.box {
width: 400px;
height: 400px;
background-color: #FFFFFF;
margin: 10px;
border-radius: 10px;
border:solid 5px rgba(25, 25, 25, 0.8);
}
#nft1 .box img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
}
#nft1 p {
    color: #252525;
    font-family: 'Zen Dots', cursive ;  
    font-size: 18px;
    margin: 10px;
}
#nft1 img {
    margin: auto;
}
 .button {
    margin :10px;
}
footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
#contact {
    padding-left: 15px;
    font-size: 25px;
}
#rights{
    font-size: 15px;
    margin: auto;
}
#tabb th,td {
    padding: 15px 0 0 10px;
}
@media screen and (max-width:880px ) {
    #right img{
        width: 200px;
        height: 200px;
    }
    #hed #left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color:#252525;
        padding: 15px;
        width: 50%;
        font-size: 20px;
    }
    #adv p {
        padding: 10px;
        font-size: 10px;
    }
    table tr {
        font-size: 13px;
    }
    table th {
        padding: 5px;
    }
    table td {
        padding: 5px;
    }
    #currency p {
        font-size: 25px;
    }
    table img {
        width: 24px;
        height: 24px;
        margin: 0px;
    }
    #currency {
        height: 350px;
        margin-bottom:50px;
    }

    #trade p {
        margin-left: 15px;
        font-size: 20px;
    }
    #trade img {
       margin: auto;
        width: 300px;
        height: 300px;
    }
    #nft{
        margin-bottom: 30px;
    }
    #nft1 {
        flex-direction: column;
    }
    #nft1 .box {
        width:300px;
    }
    #nft {
        height: 1500px;
    }
    nav li{
        display:none;
    }
    #icn  {
        display: block;
        font-size: 20px;
    }
    nav img {
        margin: 0px;
    }
    #rights{
         font-size: 10px;
    }
  }